html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
}

p,
dl,
ul,
pre {
  margin: 0 0 1em;
}

.row {
  margin: 0 0 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Minion Pro", "Crimson Text", serif;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 0;
}

h1 {
  font-size: 3.7rem;
  line-height: 1;
}

h2 {
  font-size: 3.2rem;
  line-height: 1;
}

h3 {
  font-size: 2.8rem;
  line-height: 1;
}

h4 {
  font-size: 2.4rem;
  line-height: 1;
}

h5 {
  font-size: 2.0rem;
  line-height: 1;
}

h6 {
  font-size: 1.5rem;
  line-height: 1;
}

#masthead,
.content-area {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
#masthead::after,
.content-area::after {
  clear: both;
  content: "";
  display: table;
}

.row {
  width: 100%;
  display: block;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}

.newsroom-section-title {
  border-bottom: 2px solid #dddddd;
  margin-bottom: 20px;
}
.newsroom-section-title h2,
.newsroom-section-title h3 {
  color: #585858;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}
.newsroom-section-title h2 a:after,
.newsroom-section-title h3 a:after {
  content: '\00bb';
  color: #848484;
}

#masthead {
  padding: 1.5em 0;
}
#masthead h1.has-logo a {
  display: block;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
}
#masthead h1.has-logo a img {
  display: block;
}
#masthead .site-meta {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
#masthead .site-meta:last-child {
  margin-right: 0;
}
#masthead #langnav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
#masthead #langnav:last-child {
  margin-right: 0;
}
#masthead #langnav #qtranslate-chooser {
  list-style: none;
  float: right;
}
#masthead #langnav #qtranslate-chooser::after {
  clear: both;
  content: "";
  display: table;
}
#masthead #langnav #qtranslate-chooser li {
  float: left;
  margin-left: 5px;
  display: block;
}
#masthead #langnav #qtranslate-chooser li a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  padding: 4px 6px;
  background: #43a4d6;
  color: #fff;
  border-radius: 3px;
}
#masthead #mastnav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: block;
  position: relative;
  z-index: 3;
  font-size: 1.2em;
}
#masthead #mastnav:last-child {
  margin-right: 0;
}
#masthead #mastnav::after {
  clear: both;
  content: "";
  display: table;
}
#masthead #mastnav ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#masthead #mastnav ul.menu li {
  margin: 0 20px 0 0;
  padding: 0;
  float: left;
  color: #333;
  position: relative;
}
#masthead #mastnav ul.menu li a {
  color: inherit;
  text-decoration: none;
}
#masthead #mastnav ul.menu li.menu-item-has-children:after {
  content: "\e623";
  color: #334698;
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#masthead #mastnav ul.menu li.menu-item-has-children:hover:after {
  content: "\e621";
}
#masthead #mastnav ul.menu li:hover ul {
  display: block;
}
#masthead #mastnav ul.menu li ul {
  width: 200px;
  position: absolute;
  top: 38px;
  left: 0;
  list-style: none;
  margin: -10px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #eee;
  display: none;
}
#masthead #mastnav ul.menu li ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: none;
  font-size: .9em;
}
#masthead #mastnav ul.menu li ul li a {
  padding: 5px 0;
  display: block;
}
#masthead #mastnav form {
  float: right;
}

.map-container {
  width: 100%;
  height: 600px;
}

#primary h1 {
  font-size: 42px;
}
#primary .subhead {
  font-size: 24px;
  display: block;
}
#primary .subhead::after {
  clear: both;
  content: "";
  display: table;
}
#primary .kicker img {
  display: block;
  max-width: 100%;
  height: auto;
}
#primary .kicker .nr-gallery {
  position: relative;
  cursor: pointer;
}
#primary .kicker .nr-gallery .image-count {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30%;
  background: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all .2s linear;
  line-height: 60px;
}
#primary .kicker .nr-gallery .image-count .icon {
  font-size: 60px;
  line-height: 60px;
  margin-right: 20px;
}
#primary .kicker .nr-gallery:hover .image-count {
  background: rgba(0, 0, 0, 0.6);
}
#primary .post-meta {
  padding: 2em 0 1em 0;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}
#primary .post-meta .byline {
  color: #666;
  font-size: 20px;
}
#primary .post-meta .byline p {
  display: inline;
  margin-right: 10px;
}
#primary .post-meta .terms {
  margin-top: 1em;
  border-top: 2px solid #ccc;
  display: block;
  padding: 1em 0 0;
  color: #333;
}
#primary .post-meta .terms::after {
  clear: both;
  content: "";
  display: table;
}
#primary .post-meta .terms .tax-item {
  float: left;
  margin: 0 10px 5px 0;
}
#primary .post-meta .terms .tax-item p,
#primary .post-meta .terms .tax-item ul,
#primary .post-meta .terms .tax-item ul li {
  display: inline;
}
#primary .post-meta .terms .tax-item ul {
  margin: 0 0 0 5px;
  padding: 0;
}
#primary .post-meta .terms .tax-item ul li {
  margin: 0;
  padding: 0;
}
#primary .post-meta .terms .tax-item ul li a {
  text-decoration: none;
  background: #f0f0f0;
  color: #666;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 90%;
}
#primary .post-meta .terms .tax-item ul li a:hover {
  color: #333;
}
#primary .content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  display: block;
  font-size: 22px;
  float: none;
}
#primary .content:last-child {
  margin-right: 0;
}
#primary .content::after {
  clear: both;
  content: "";
  display: table;
}
#primary .content .wp-caption-text {
  font-size: 90%;
  color: #999;
  font-style: italic;
}

.widget-map {
  margin: 0 0 20px;
}

.archive-sidebar,
.search-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  list-style: none;
  padding: 0;
}
.archive-sidebar:last-child,
.search-sidebar:last-child {
  margin-right: 0;
}
.archive-sidebar > .widget,
.search-sidebar > .widget {
  margin: 0 0 20px;
  padding: 0;
}
.archive-sidebar > .widget h2,
.search-sidebar > .widget h2 {
  font-size: 2.8rem;
}

.post-list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.post-list:last-child {
  margin-right: 0;
}
.post-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-list ul li {
  margin-bottom: 20px;
}
.post-list ul li article {
  display: block;
}
.post-list ul li article::after {
  clear: both;
  content: "";
  display: table;
}
.post-list ul li article .post-list-thumbnail {
  margin: 0 20px 20px 0;
  float: left;
  overflow: hidden;
  position: relative;
}
.post-list ul li article .post-list-thumbnail img {
  width: 100%;
  height: auto;
}
.post-list ul li article .post-list-post-content p.date {
  font-size: 1em;
  color: #666;
}
.post-list ul li article .post-list-post-content .excerpt {
  font-size: 20px;
}
.post-list ul li.no-thumbnail {
  background: #f4f4f4;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
