@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

#masthead,
.content-area {
  @include outer-container;
}

#masthead {
  padding: 0.67em 0;
  h1.has-logo {
    a {
      display: block;
      text-indent: -9999px;
      line-height: 0;
      font-size: 1px;
      img {
        display: block;
      }
    }
  }
  .site-meta {
    @include span-columns(6);
  }
  #mastnav {
    margin: 0.67em 0;
    @include span-columns(6);
    .menu {
      > ul {
        list-style: none;
        float: right;
        > li {
          float: left;
          margin-left: 10px;
          > a {
            display: block;
            text-decoration: none;
            font-size: 14px;
            padding: 5px 10px;
            background: steelblue;
            color: #fff;
            border-radius: 6px;
          }
        }
      }
    }
    form {
      float: right;
      margin: 0.67em 0;
    }
  }
}

.map-container {
  width: 100%;
  height: 600px;
}
