@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

$mobile: new-breakpoint(max-width 480px 4);
$dark-blue: #415ba8;
$light-blue: #0fa4d4;

html {
  font-size: 62.5%;
  background: #fff;
}

body {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
}

body.newsroom-mobile {
  margin-top: 50px !important;
}

p,
dl,
ul,
pre {
  margin: 0 0 1em;
  color: #222;
}

.button,
input[type="submit"],
button,
a.button {
  background: $light-blue;
  color: #fff;
  line-height: 1.2;
  padding: 10px;
  border: 0;
  display: block;
  text-align: center;
  color: #f0f0f0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .9em;
  width: 100%;
  &:hover {
    color: #fff;
    background: $dark-blue;
  }
}

.row {
  margin: 0 0 2em;
}

a {
  color: $light-blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Minion Pro", "Crimson Text", serif;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  color: $dark-blue;
}

p {
  margin-top: 0;
}

h1 { font-size: 3.7rem; line-height: 1; }
h2 { font-size: 3.2rem; line-height: 1; }
h3 { font-size: 2.8rem; line-height: 1; }
h4 { font-size: 2.4rem; line-height: 1; }
h5 { font-size: 2.0rem; line-height: 1; }
h6 { font-size: 1.5rem; line-height: 1; }


#masthead,
.content-area {
  @include outer-container;
}

.row {
  @include fill-parent();
  @include row();
}

@include media($mobile) {
  h1 { font-size: 3.0rem; line-height: 1; }
  h2 { font-size: 2.8rem; line-height: 1; }
  h3 { font-size: 2.2rem; line-height: 1; }
  h4 { font-size: 1.8rem; line-height: 1; }
  h5 { font-size: 1.2rem; line-height: 1; }
  h6 { font-size: 1rem; line-height: 1; }
  input,
  textarea,
  img {
    max-width: 100%;
  }
  .content-area {
    @include pad(0 5px);
  }
}

.siteorigin-panels .entry-content h3,
.siteorigin-panels .entry-content h2,
.newsroom-section-title {
  border-bottom: 2px solid #dddddd;
  margin-bottom: 20px;
  h2,
  h3 {
    color: #585858;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    a {
      &:after {
        content: '\00bb';
        color: #848484;
      }
    }
  }
  @include media($mobile) {
    h2,
    h3 {
      @include pad(0 5px);
    }
  }
}

#masthead {
  padding: 1.5em 0;
  h1.has-logo {
    a {
      display: block;
      text-indent: -9999px;
      line-height: 0;
      font-size: 1px;
      img {
        display: block;
      }
    }
  }
  .site-meta {
    @include span-columns(6);
  }
  .top-nav {
    @include span-columns(6);
  }
  #langnav {
    float: right;
    #qtranslate-chooser {
      list-style: none;
      float: right;
      margin: 0;
      padding: 0;
      @include clearfix;
      li {
        float: left;
        margin-left: 5px;
        display: block;
        padding-top: 12px;
        a {
          display: block;
          text-decoration: none;
          font-size: 12px;
          padding: 4px 6px;
          background: $light-blue;
          color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
  #socialnav {
    float: right;
    line-height: 60px;
    text-align: right;
    a {
      text-align: right;
      text-decoration: none;
      color: #666;
      font-size: 1.2em;
      margin-right: .5em;
      &:hover {
        color: #222;
      }
    }
  }
  #mastnav {
    @include span-columns(12);
    @include row();
    position: relative;
    z-index: 3;
    font-size: 1.2em;
    ul.menu {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 20px 0 0;
        padding: 0;
        float: left;
        color: #333;
        position: relative;
        a {
          color: $dark-blue;
          text-decoration: none;
        }
        &.menu-item-has-children {
          &:after {
            content: "\e623";
            color: #334698;
            font-family: 'entypo';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 85%;
            float: right;
            margin-top: 2px;
            margin-left: 5px;
          }
          &:hover {
            &:after {
              content: "\e621";
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
        ul {
          width: 200px;
          position: absolute;
          top: 38px;
          left: 0;
          list-style: none;
          margin: -10px;
          padding: 5px 10px;
          background: #fff;
          border: 1px solid #eee;
          display: none;
          li {
            margin: 0;
            padding: 0;
            display: block;
            float: none;
            font-size: .9em;
            a {
              padding: 5px 0;
              display: block;
            }
          }
        }
      }
    }
    form {
      float: right;
    }
  }
}

.mobile-header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  padding: 5px;
  .logo {
    width: 65%;
    display: block;
    float: left;
    &.with-image {
      a {
        display: block;
        text-indent: -9999px;
        line-height: 0;
        font-size: 1px;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  #mobile-nav {
    a.toggle-nav {
      float: right;
      font-size: 2em;
      text-decoration: none;
    }
    &.active {
      .mobile-nav-content {
        display: block;
      }
    }
    .mobile-nav-content {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      background: #fff;
      border-bottom: 2px solid #ccc;
      display: none;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          a {
            border-bottom: 1px solid #ddd;
            display: block;
            padding: .5em;
            text-decoration: none;
          }
        }
        ul {
          border-left: 1px solid #ddd;
          margin: 0 0 0 1em;
        }
      }
      p.label {
        padding: .5em;
        margin: 0;
        color: #999;
        font-style: italic;
        font-weight: 600;
      }
      input[type=text] {
        width: 100%;
        padding: .8em .5em;
        background: #fff;
        border: 0;
      }
    }
  }
}

.map-container {
  width: 100%;
  height: 600px;
}

#primary {
  h1 {
    font-size: 42px;
  }
  .subhead {
    font-size: 24px;
    @include row();
    p {
      color: #222;
    }
  }
  .kicker {
    @include row();
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
    .kicker-image-container {
      margin: 0 auto;
    }
    .image-caption {
      max-width: 50%;
      min-width: 300px;
      float: right;
      p {
        margin: .5em 0;
        color: #666;
        font-style: italic;
        text-align: right;
      }
    }
    @include media($mobile) {
      .kicker-image-container {
        width: 100% !important;
        img {
          width: 100% !important;
          height: auto;
        }
      }
      .image-caption {
        max-width: 100%;
        min-width: 0;
        text-align: right;
      }
    }
    .nr-gallery {
      position: relative;
      cursor: pointer;
      .image-count {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 30%;
        background: rgba(0,0,0,0.4);
        font-size: 30px;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
        transition: all .2s linear;
        line-height: 60px;
        .icon {
          font-size: 60px;
          line-height: 60px;
          margin-right: 20px;
        }
      }
      &:hover {
        .image-count {
          background: rgba(0,0,0,0.6);
        }
      }
    }
  }
  .post-meta {
    @include pad(1em 0);
    margin-bottom: 2em;
    border-bottom: 1px solid $light-blue;
    .byline {
      font-size: 20px;
      font-style: italic;
      p {
        color: $light-blue;
        display: inline;
        margin-right: 10px;
      }
    }
    .terms {
      margin-top: 1em;
      border-top: 2px solid $light-blue;
      @include row();
      @include pad(1em 0 0);
      color: $light-blue;
      .tax-item {
        float: left;
        margin: 0 10px 5px 0;
        p,
        ul,
        ul li {
          display: inline;
        }
        p {
          color: $light-blue;
        }
        ul {
          margin: 0 0 0 5px;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
            a {
              text-decoration: none;
              background: $light-blue;
              color: #f0f0f0;
              padding: 2px 5px;
              border-radius: 3px;
              font-size: 90%;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .content-container {
    @include span-columns(12);
    @include row();
    float: none;
  }
  .content {
    @include span-columns(8 of 12);
    font-size: 22px;
    h2,
    h3,
    h4 {
      margin: 2em 0 1em;
    }
    .wp-caption-text {
      font-size: 90%;
      color: #999;
      font-style: italic;
    }
    .wp-caption,
    img {
      max-width: 100%;
      height: auto;
    }
    #bottom-share {
      @include row();
      p {
        font-weight: 600;
        font-style: italic;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          float: left;
          margin: 0 20px 0 0;
        }
      }
    }
    .newsroom-square-posts {
      @include row();
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          height: 90px;
          overflow: hidden;
          margin-bottom: 20px;
          @include span-columns(4 of 8);
          @include omega(2n);
          article {
            padding: 10px;
            .square-posts-thumbnail {
              width: 40%;
              float: left;
              margin: -10px 10px -10px -10px;
              margin-right: 10px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .square-posts-post-content {
              line-height: 1;
              overflow: hidden;
              h2,
              p {
                font-size: .75em;
                display: inline;
                margin: 0;
              }
              p {
                color: #666;
                font-size: .8;
              }
            }
          }
          &.no-thumbnail {
            background: #f4f4f4;
          }
        }
      }
      @include media($mobile) {
        li {
          @include span-columns(12 of 12);
          @include row();
          article {
            margin: 0 5px;
          }
        }
      }
    }
  }
  #share {
    @include span-columns(2 of 12);
    p {
      font-weight: 600;
      font-style: italic;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 20px;
        padding: 0;
        @include clearfix;
      }
    }
  }
  @include media($mobile) {
    .content {
      @include span-columns(12 of 12);
      @include shift(0);
    }
    #share {
      display: none;
    }
  }
}

.share-page {
  @include outer-container();
  #jeo-share-widget {
    margin: 0 0 1em;
    #configuration {
      background: transparent;
      box-shadow: 0 0 0;
      @include row();
      margin: 0 0 1em;
      .section {
        &.two {
          @include span-columns(2 of 12);
        }
        &.three {
          @include span-columns(3 of 12);
        }
      }
      ul#sizes {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.widget-map {
  margin: 0 0 20px;
}

.archive-header {
  @include row();
  @include padding(1em 0);
  .tax-name {
    color: #999;
    margin: 0;
    text-transform: uppercase;
  }
  .term-description {
    font-size: 20px;
  }
}

.archive-sidebar,
.search-sidebar {
  @include span-columns(4);
  list-style: none;
  padding: 0;
  > .widget {
    margin: 0 0 20px;
    padding: 0;
    h2 {
      font-size: 2.8rem;
    }
    .post-list {
      @include span-columns(12);
    }
  }
  .advanced-nav-container {
    width: 80%;
    .adv-nav-input {
      margin: 0 0 1em;
      p.label {
        margin: 0 0 .5em;
        color: #666;
        font-style: italic;
        font-weight: 600;
      }
      .sublabel {
        font-size: 90%;
        color: #666;
      }
      input,
      textarea,
      .chosen-container,
      select {
        width: 100%;
        margin: 0;
      }
    }
  }
  @include media($mobile) {
    & {
      display: none;
    }
  }
}

.post-list {
  @include span-columns(8);
  margin: 0 0 2em;
  @include media($mobile) {
    & {
      @include span-columns(12 of 12);
      ul {
        li {
          article {
            .post-list-thumbnail {
              float: none;
              width: 100%;
              margin: 0 0 .5em;
            }
          }
        }
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 20px;
      article {
        @include row();
        .post-list-thumbnail {
          margin: 0 20px 20px 0;
          float: left;
          // @include span-5columns(3 of 8);
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
        }
        .post-list-post-content {
          // @include span-columns(5 of 8);
          p.date {
            font-size: 1em;
            color: #666;
          }
          .excerpt {
            font-size: 20px;
          }
        }
      }
      &.no-thumbnail {
        background: #f4f4f4;
        padding: 20px;
      }
    }
  }
  .pagination {
    text-align: center;
    a {
      text-decoration: none;
      font-size: 1.4em;
      text-align: center;
    }
  }
}

.comment-list {
  margin: 0 0 1em;
  padding: 0;
  border-top: 1px solid #ddd;
  .comment {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    article {
      background: #f7f7f7;
      padding: .7em;
      border-left: 1px solid #ddd;
    }
    .comment-header {
      float: left;
      margin: 0 1em 0 0;
    }
    .comment-meta {
      font-size: .6em;
      padding: 1em 0 1.8em;
      color: #999;
      a {
        color: #999;
        text-decoration: none;
      }
      .comment-author {
        font-size: 1.6em;
        margin-right: .5em;
        color: #333;
        font-weight: 600;
        a {
          color: $light-blue;
          &:hover {
            color: $dark-blue;
          }
        }
      }
    }
    .comment-content-area {
      @include row();
      padding: 1em;
      .reply {
        float: right;
        font-size: .6em;
      }
    }
    .children {
      margin: 0 0 -1em;
      padding: 0;
      .comment {
        border-left: 1px solid #ddd;
        padding: 1em 1em 1em 2em;
        border-bottom: 0;
        margin: 0;
        font-size: 90%;
        article {
          background: transparent;
          padding: 0;
          border: 0;
        }
        .comment-content-area {
          padding: .7em;
        }
      }
      .children {
        .comment {
          padding: .5em .5em .5em 1em;
          font-size: 90%;
          .comment-header {
            img {
              width: 40px;
              height: 40px;
            }
          }
          .comment-content-area {
            padding: .5em;
          }
        }
      }
    }
  }
}

#commentform {
  label {
    display: block;
    margin: 0 0 .5em;
  }
}


#colophon {
  @include pad(2em 0);
  background: $dark-blue;
  color: #fff;
  h2,
  h3,
  p {
    color: #fff;
  }
  #footer-nav {
    @include pad(0 0 2em);
    margin: 0 0 2em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 1.2em;
    ul {
      list-style: none;
      display: block;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 .5em .5em 0;
        padding: 0;
        a {
          background: lighten($dark-blue, 5%);
          border-radius: 3px;
          padding: 3px 5px;
          text-decoration: none;
        }
      }
    }
  }
  a {
    color: #fff;
  }
  .footer-content {
    @include outer-container;
  }
  #footer-sidebar {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    @include row();
    .widget {
      width: calc(33.3333% - 1em);
      display: block;
      float: left;
      padding: 0 1em 0 0;
      margin: 0 1em 1em 0;
      box-sizing: border-box;
      border-right: 1px solid rgba(255,255,255,0.2);
      &:nth-of-type(3n) {
        border-right: 0;
      }
      ul,
      ol {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: .5em 0;
          border-bottom: 1px solid rgba(255,255,255,0.1);
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    @include media($mobile) {
      .widget {
        width: 100%;
        float: none;
        border-right: 0;
        padding: 0;
        padding: 0 5px 1em;
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }
    }
    .credits {
      text-align: center;
    }
  }
}
