@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Minion Pro", "Crimson Text", serif;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
  a {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin-top: 0;
}

h1 { font-size: 3.7rem; line-height: 1; }
h2 { font-size: 3.2rem; line-height: 1; }
h3 { font-size: 2.8rem; line-height: 1; }
h4 { font-size: 2.4rem; line-height: 1; }
h5 { font-size: 2.0rem; line-height: 1; }
h6 { font-size: 1.5rem; line-height: 1; }

#masthead,
.content-area {
  @include outer-container;
}

.row {
  @include fill-parent();
  @include row();
}

.newsroom-section-title {
  border-bottom: 2px solid #dddddd;
  margin-bottom: 20px;
  h2,
  h3 {
    color: #585858;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    a {
      &:after {
        content: '\00bb';
        color: #848484;
      }
    }
  }
}

#masthead {
  padding: 0.67em 0;
  h1.has-logo {
    a {
      display: block;
      text-indent: -9999px;
      line-height: 0;
      font-size: 1px;
      img {
        display: block;
      }
    }
  }
  .site-meta {
    @include span-columns(6);
  }
  #langnav {
    margin: 0.67em 0;
    @include span-columns(6);
    #qtranslate-chooser {
      list-style: none;
      float: right;
      @include clearfix;
      li {
        float: left;
        margin-left: 5px;
        display: block;
        a {
          display: block;
          text-decoration: none;
          font-size: 12px;
          padding: 4px 6px;
          background: #43a4d6;
          color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
  #mastnav {
    @include span-columns(12);
    position: relative;
    z-index: 3;
    font-size: 1.2em;
    ul.menu {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 20px 0 0;
        padding: 0;
        float: left;
        color: #333;
        position: relative;
        a {
          color: inherit;
          text-decoration: none;
        }
        &.menu-item-has-children {
          &:after {
            content: "\e623";
            font-family: 'entypo';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
          &:hover {
            &:after {
              content: "\e621";
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
        ul {
          width: 200px;
          position: absolute;
          top: 38px;
          left: 0;
          list-style: none;
          margin: -10px;
          padding: 5px 10px;
          background: #fff;
          border: 1px solid #eee;
          display: none;
          li {
            margin: 0;
            padding: 0;
            display: block;
            float: none;
            font-size: .9em;
            a {
              padding: 5px 0;
              display: block;
            }
          }
        }
      }
    }
    form {
      float: right;
    }
  }
}

.map-container {
  width: 100%;
  height: 600px;
}
