@import "../../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../../bower_components/neat/app/assets/stylesheets/neat";

.newsroom-list-posts {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 20px;
      article {
        .list-posts-thumbnail {
          margin: 0 0 10px;
          width: 100%;
          height: 112px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
        }
        .list-posts-post-content {
          p {
            font-size: 1em;
            color: #666;
          }
        }
      }
      &.no-thumbnail {
        background: #f4f4f4;
        article {
          padding: 10px;
        }
      }
    }
  }
  &.per-row-4 {
    li {
      @include span-columns(3);
      @include omega(4n);
    }
  }
  &.per-row-3 {
    li {
      @include span-columns(4);
      @include omega(3n);
    }
  }
  &.per-row-2 {
    li {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}
